<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav  navbar-fixed-side navbar-fixed-side-left">
                <li>@Html.ActionLink("Favourites", "Product", "Destinations")</li>
                <li>@Html.ActionLink("Products", "Dest2", "Destinations")</li>
                <li>@Html.ActionLink("Your orders", "Dest3", "Destinations")</li>
            </ul>
        </div>
    </div>
</div>

